@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat:wght@500&family=Comfortaa:wght@500&family=Dancing+Script&family=Fascinate&family=Fuzzy+Bubbles&family=Klee+One&family=Lobster&family=Pacifico&family=Poppins:wght@400&family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
}

#gridContainer {
  max-width: 35rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(20, auto);
  padding: 5px;
}

.gridItem {
  height: 25px;
  color: black;
  background-color: rgb(255, 255, 255);
  border: 1px solid lavender;
  border-radius: 50%;
  margin: 1px;
  font-size: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .gridItem {
    height: 22px;
    font-size: 8px;
  }
}

@media screen and (max-width: 850px) {
  .gridItem {
    height: 20px;
    font-size: 7px;
  }
}
