@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat:wght@500&family=Comfortaa:wght@500&family=Dancing+Script&family=Fascinate&family=Fuzzy+Bubbles&family=Klee+One&family=Lobster&family=Pacifico&family=Poppins:wght@400&family=Ubuntu&display=swap");

body {
  background: #333;
  font-family: Klee One;
}
.sq-element {
  width: 40px;
  height: 40px;
  background: white;
  margin: 0px 3px;
  border-radius: 4px;
}

#my-board {
  padding: 5px 2px 0px 2px;
  border: 2px solid white;
  border-radius: 5px;
  background: white;
  box-shadow: 2px 5px 10px #333;
}

#prev,
#next {
  color: white;
  padding: 10px;
}

#prev i,
#next i {
  font-size: 30px;
  margin-top: 163px;
}

.sq-element:hover,
#prev i:hover,
#next i:hover {
  transform: scale(0.9);
  transition: all 0.3s ease;
}

.bar {
  width: 70px;
  height: 10px;
  margin: 3px;
  border-radius: 5px;
  background: white;
}

@media screen and (max-width: 800px) {
  .sq-element {
    width: 25px;
    height: 25px;
  }
  #prev i,
  #next i {
    font-size: 30px;
    margin-top: 105px;
  }

  .bar {
    width: 45px;
    height: 8px;
  }
}
