body {
  background: palegoldenrod;
}

.vertical {
  border-left: 8px solid black;
  position: absolute;
  bottom: 5px;
}

#logs {
  font-family: Monaco;
  color: lime;
}

.card {
  width: 50rem;
}

@media screen and (max-width: 1000px) {
  .card {
    width: 84vw;
    margin: 0;
  }
}
